<img src="//abductedfingerboards.com.au/wp-content/uploads/2019/10/logo.png" alt="Abducted Fingerboards" class="img-rounded" alt="Cinque Terre" width="200" height="200">
<img src= "https://scontent.feoh1-1.fna.fbcdn.net/v/t1.0-9/79151043_3341657585908195_2620154930752651264_o.jpg?_nc_cat=107&_nc_ohc=ErfIrzEyeb4AQmMW1tmFva254PkiOrzOB5mCN3trt0MBIYEQdeBkSU0qg&_nc_ht=scontent.feoh1-1.fna&oh=390683fa63dacbe851ac6f4d810d0d44&oe=5E6CCBA8"alt="Promo tablas" class="img-rounded" alt="Cinque Terre" width="200" height="200">	
<img src= "https://scontent.feoh1-1.fna.fbcdn.net/v/t1.0-9/78794221_3293607850713169_7514871932412493824_n.jpg?_nc_cat=106&_nc_ohc=hRUG4bt1coEAQkAx_4NaiQluCfivIAkYc4X7ogo8pdbSPzJtZ6AETtmPA&_nc_ht=scontent.feoh1-1.fna&oh=f3a79442c7cb2f63729cfe2f6463a0d1&oe=5EA4CC3A" class="img-rounded" alt="Cinque Terre" width="200" height="200">	
<img src= "https://scontent.feoh1-1.fna.fbcdn.net/v/t31.0-8/s960x960/336798_225652724175379_846200911_o.jpg?_nc_cat=103&_nc_ohc=JnTn0LM88RQAQmmgiSxJGEcvkt7Ytw1YYvTbglt8d8f7151lVciSbbX7g&_nc_ht=scontent.feoh1-1.fna&oh=2b18f51fffc7134c9983b487d714422f&oe=5E69BC2B" class="img-circle" alt="Cinque Terre" width="200" height="200">


	<h1>Welcome#index</h1>
	<p>Find me in app/views/welcome/index.html.erb</p>
	<h1>Hello, Rails!</h1>
	<p>Como esta mi gente bella, mi gente ermosa!</p>
	<h1>Hello, Rails!</h1>


